.games-list 
  max-width: 1400px
  display: flex
  margin: 0 auto
  padding: 100px 0


.games-list__item 
  display: block
  background: $pink-color
  width: 300px
  height: 200px
  border-radius: 10px
  padding: 30px
