@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

$color-green: lightgreen
$color-active-green: #00e800
$color-pink: lightcoral
$color-light-pink: #ec9f9f
$color-background: #01062d
$color-black: #00031b
$color-white: #f5efff

$font-size-normal: 14px
$font-size-medium: 16px
$font-size-large: 18px
$font-size-x-large: 20px
$font-size-xx-large: 24px

$font-base: 'Open Sans'
