
.games-list 
  max-width: 1300px
  display: flex
  margin: 0 auto
  padding: 100px 0
  flex-wrap: wrap
a
  font-size: $font-size-normal
  color: $color-black
  text-decoration: none
  font-family: sans-serif;

.games-list__item 
  display: block
  background: $color-pink
  width: 340px
  height: 240px
  border-radius: 10px
  margin: 20px
  cursor: pointer
  transition-duration: .2s
  display: flex
  align-items: center
  justify-content: center
  &--spider-cat
    background: url("./../spiderCat/images/spider-cat.jpg") no-repeat center, url("./../spiderCat/images/playerMin.png")
    background-size: cover
  &--new
    background: $color-white
    opacity: .3
    color: $color-background
  &:hover
    transform: scale(1.1)

@media all and (max-width:450px)
  .games-list 
    max-width: 100%
    padding: 24px 16px
    flex-direction: column

  .games-list__item 
    width: 100%
    height: 200px
    border-radius: 10px
    margin: 16px 0
